.card{
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        width: 90%;
        background-color: rgb(237, 248, 237);
        border: 1px solid transparent;
        border-radius: 15px;

        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            width: 90%;

            .left{
                margin: 10px 20px;
                flex: 1;

                img{
                    width: 130px;
                    height: 160px;
                }
            }

            .right{
                width: 90%;
                display: flex;
                flex-direction: column;
                flex: 3;
                margin-bottom: 20px;
                padding: 10px;

                h2{
                    font-size: 15px;
                }
                h3{
                    font-style: italic;
                    font-size: 15px;
                    padding-bottom: 5px;
                }
                h1{
                    font-size: 24px;
                    padding: 5px 0;
                }
            }
        }

        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;

            button{
                margin: 10px;
                border: 2px solid black;
                border-radius: 15px;
                padding: 10px;
            }
        }
    }
}